<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head'); %>
<body class="bg-dark">
    <%- include('../partials/footer'); %>
    <header>
        <a href="./signin">Login</a></br>
        <a href="./signup">Register</a>
    </header>
</body>
</html>